/* style générale */

* {
    text-align: center;
}

/* style spécifique */

body {
    background-color: rgb(160, 236, 236);
}

ul {
    list-style-type: none;
}
li {
    display: inline-block;
}

#click-indice{
    background-color: cyan;
    border-radius: 20%;
    padding: 0.2rem;
}

h1>span {
    font-size: 1rem;
}
.item {
    border-style: solid;
    margin: 2rem;
    padding: 1rem;
    font-size: x-large;
    width: 50%;
}

.item.first{
    background-color: rgb(197, 240, 154);
}

.item.second{
    background-color: rgb(235, 138, 238);
}

.item.third{
    background-color: rgb(137, 121, 233);
}
